<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9xalyx0W_3WHsck4x8_rv9Oa9tsvzZRE</string>
	<key>GCM_SENDER_ID</key>
	<string>332275413352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.marketStatistic</string>
	<key>PROJECT_ID</key>
	<string>point-marketing-18d63</string>
	<key>STORAGE_BUCKET</key>
	<string>point-marketing-18d63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332275413352:ios:9107d962534c38c94226dd</string>
</dict>
</plist>